.registroInfo-card {
    width: 1000px; /* Ajusta la anchura según sea necesario */
    height: 600px;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 48px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 80px; /* Agregamos margen inferior */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.custom-button {
    background-color: black ;
    height: 60px;
    border-color: white ; 
    color: white !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.google-icon {
    color: #54b2e7;
    vertical-align: middle;
    margin-right: 8px; /* Agregar un pequeño margen a la derecha del icono */
    margin-bottom: 4px;
}

.linea-blanca {
    border-top: 2px solid white; /* Asegúrate de que el color sea "white" */
    width: 50%;
    margin: auto;
}